/ResJect-war/nbproject/private/
/Shared/nbproject/private/
/ResJect-ejb/nbproject/private/
/nbproject/private/
/build/
/dist/
/ResJect-ejb/dist/
/ResJect-ejb/build/
/ResJect-war/dist/
/ResJect-war/build/
/Shared/dist/
/Shared/build/